.nav {
    display: flex;
    gap: 1rem;
    align-items:center;
    padding:1rem;
    background-color: black;
    width: 100%;
    margin-bottom: 1rem;

}
.nav-links{
    width:20px;
    padding:20px;
    text-decoration: none;
    text-transform: uppercase;
    color:aliceblue;
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0 1rem;
    cursor: pointer;

    
}
.nav-links::hover{
    background-color: rgba(0, 0, 0, 0.792);

    
}

.nav-part{
    flex: .3;
}
